<div style="height: 120px;">
  <div style="text-align:center; margin: 0 auto;">
    <%= link_to image_tag('CTV_banner.jpg'), 'http://blog.curatorstv.com/2015/02/1curators-tv.html', target: '_blank' %>
  </div>
</div>