<div style="height: 120px;background-color: #EBEBEB;">
  <div style="text-align:center; margin: 0 auto;">
    <a target="_blank" href="http://blog.curatorstv.com/2015/02/1curators-tv.html"><img style="padding: 8px 0 0 0;" src="http://i.gyazo.com/7c412263e197b1a5381c2915a6a672a2.png"></a>
  </div>
</div>